# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'webapp-sc'
    subscriptionId: 'e1e6b4c0-6153-460b-8b38-a330d9d1aa22'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'RG-APP'
    location: 'Central US'
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/_Asanshu_ARM-Template-Webapps/template.json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/_Asanshu_ARM-Template-Webapps/parameters.json'
    deploymentMode: 'Incremental'
    deploymentName: 'new-deploy-arm'
